@use '~@fancyapps/fancybox';
@use '../../src/Fancy';

body {
  margin: 0;
  background: #ffffff;
}

body * {
  box-sizing: border-box;
}

article {
  color: #444444;
  width: 100vw;
  min-width: 320px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 960px;
  margin: auto;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);

  @media (max-width: 960px) {
    padding: 10px 10px 5px;
  }
}

%grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

%button {
  width: 23%;
  height: 50px;
  margin: 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 14px 'Arial';
  color: #efefee;
  text-transform: uppercase;
  user-select: none;
  cursor: pointer;

  &:active {
    transform: translateY(2px);
  }

  @media (max-width: 768px) {
    width: 49%;
  }
}

@mixin background($background) {
  @for $i from 1 through 4 {
    &:nth-child(4n + #{$i}) {
      background-color: darken($background, $i * 5%);
    }
  }
}

/* Images. */
.images {
  @extend %grid;
  margin: 0 0 20px;

  .item {
    width: 24%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    img {
      max-width: 100%;
    }
  }

  @media (max-width: 425px) {
    margin: 0 0 15px;

    .item {
      width: 49%;
      margin: 0 0 5px;
    }
  }
}

/* Video. */
.video {
  @extend %grid;
  margin: 0 0 5px;

  .button {
    @extend %button;
    @include background(#d32f2f);
    text-decoration: none;
  }
}

/* IFrame. */
.iframe {
  @extend %grid;
  margin: 0 0 5px;

  .button {
    @extend %button;
    @include background(#0097a7);
    text-decoration: none;
  }
}

/* Inline. */
.inline {
  @extend %grid;
  margin: 0 0 20px;

  .button {
    @extend %button;
    @include background(#00796b);
  }

  .item {
    display: none;
  }
}

.fancy-item-inline {
  max-width: 100%;
  width: 425px;
  padding: 30px;
  font: 14px 'Arial';
  text-align: justify;
}

/* Controls. */
.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

/* Toggle language. */
.toggle-lang {
  @extend %button;
  @include background(#0097a7);

  @media (max-width: 425px) {
    margin: 0 0 10px;
  }
}
