@use '../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.css';

.fancybox-progress {
  background: #8c9eff;
}

.fancybox-caption {
  font: 13px Arial;
  color: #cccccc;
}

.fancybox-content {
  padding: 0;
  overflow: hidden;
}

.fancybox-loading {
  border: 4px solid rgba(#fff, .1);
  border-bottom-color: #8c9eff;
}

.fancybox-infobar {
  font: 13px Arial;
  color: #cccccc;
  padding: 15px 0 15px 10px;
}

.fancybox-thumbs__list {
  a {
    &:before {
      border-color: #8c9eff;
    }

    &.fancybox-thumbs-active {
      &::before {
        border-color: #8c9eff;
      }
    }
  }
}

.fancybox-thumbs {
  background: rgba(#1e1e1e, .8);
}
